:root{
    --white: #fff;
    --black: rgb(0, 0, 0);
    --light-gray: rgb(134, 134, 134);
    --blue: rgb(81, 200, 255);
    --light-blue: rgb(158, 229, 231);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* é um tipo de fonte ralativa, logo acessivel */
    height: 100%;
    /* background-image: url('./img/undraw_work_time_re_hdyv.svg'); */
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    /* vai fazer ele manter essa posição no inicio da pagina mesmo quando scrolamos para baixo */
    position: fixed;
    /* box-shadow: 0 2px rgba(99, 99, 99, 0.164); */
}

/* .menu ul{
    display: flex;
    list-style: none;
    gap: 1rem;
} */
/* a instrução acima e abaixo fazem a mesma coisa */
.menu ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 0.3125rem;
}

.menu img{
    width: 6rem;
    height: 6rem;
}


nav a{
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}


nav a:hover{
    background-color: #f0f0f0;
    border-radius: 5px;
}

section{
    position: relative;
    top: 6rem;

    position:absolute;
    bottom:2rem;

    padding: 0 1rem;
    margin: 0 auto; /* centraliza o elemento  */
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--light-blue);
    z-index: -1;
}

.left{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60%;

    align-items: center;    
}

.left .title{
    padding: 1.5rem 0;
    text-align: center;
    font-size: 25px;
}

.left p{
    position: relative;
    width: 70%;
    text-align: justify;
}

footer{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;

    font-size: 0.8rem;
    color: var(--light-gray);
    padding: 1rem;

}

@media (max-width: 350px){

    .main img{
        display: none;
    }

    .main{
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-top: -1rem;
    }

    .logo-brand img{
        display: none;
    }

    .left{
        max-width: 40%;
        margin-top: -4rem;
    }

    /* .menu-bar li a{
        font-size: 10px;
        background: red;
    } */

}


@media (max-width: 700px){

    .main img{
        display: none;
    }

    .main{
        align-items: center;
        justify-content: space-evenly;
    }

    .left{
        text-align: center;
        padding: 2rem;
        max-width: 100%;

        justify-content: center;
        align-items: center;
    }

    .logo-brand img{
        display: none;
    }

    aside.menu {
        padding: 0;
    }

    .menu-bar {
        display: flex;
        font-size: 15px;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }
}

@media screen and (min-width: 700px) and (max-width:1290px){
    .left{
        max-width: 40%;
        overflow: hidden;

        justify-content: space-evenly;
        align-items: center;
    }
    .right{
        max-width: 60%;
        max-height: 100%;
        overflow:hidden;
    }
}
